---
import BookAppointmentForm from "./BookAppointmentForm.astro";
---

<section class="text-[#333333] bg-white py-8 border-b-2 border-[#00ccde3b]">
    <div
        class="container mx-auto md:px-12 flex justify-between items-center gap-8"
    >
        <div class="text-justify">
            <aside class="float-left pr-6 pb-6 pt-2">
                <div
                    class="flex items-center justify-center w-32 h-32 drop-shadow-[0_0_7.5px_rgba(8,85,167,0.15)] bg-white"
                >
                    <img src="/assets/college-logo.png" alt="" />
                </div>
            </aside>
            <h2 class="text-3xl mb-4">
                <p class="text-[#00cade]">Welcome to</p>
                <p>Homeocare International</p>
            </h2>
            <div>
                <p class="mb-4">
                    Homeopathy is the most trusted natural form of medicine that
                    till date is being used by millions of people worldwide.
                    Homeopathy runs on the objective that “the body can cure
                    itself,” and with this particular idea, Dr. Srikant
                    Morlawar, an eminent homeopath started Homeocare
                    International.
                </p>
                <p>
                    Homeocare International comes forward with a holistic
                    approach to treat patients with personalized Constitutional
                    Homeopathic Treatment that serves to be far better than the
                    conventional treatments. It consists of top and well
                    experienced group of Homeopathic doctors who happen to be
                    experts in their particular line of fields...
                </p>
            </div>
        </div>
        <BookAppointmentForm />
    </div>
</section>
