<div
    class="bg-white relative shrink-0 flex flex-col gap-3 bg-about-us-form-gradient p-4 w-[350px] justify-center"
>
    <h3 class="text-white uppercase text-lg text-center">
        Book an appointment
    </h3>
    <form action="" class="flex flex-col gap-3">
        <input
            type="text"
            placeholder="Your Name"
            class="border outline-none text-white border-[#3bedff] placeholder:text-white placeholder:text-sm p-2 bg-[rgba(10,87,169,0.2)] rounded-sm drop-shadow-[0px_3px_3px_rgba(0,93,102,0.1)]"
        />
        <input
            type="email"
            placeholder="Your Email"
            class="border outline-none text-white border-[#3bedff] placeholder:text-white placeholder:text-sm p-2 bg-[rgba(10,87,169,0.2)] rounded-sm drop-shadow-[0px_3px_3px_rgba(0,93,102,0.1)]"
        />
        <input
            type="tel"
            placeholder="Phone Number"
            class="border outline-none text-white border-[#3bedff] placeholder:text-white placeholder:text-sm p-2 bg-[rgba(10,87,169,0.2)] rounded-sm drop-shadow-[0px_3px_3px_rgba(0,93,102,0.1)]"
        />
        <textarea
            name=""
            id=""
            cols="10"
            rows="10"
            placeholder="Message"
            class="border outline-none text-white h-28 border-[#3bedff] placeholder:text-white placeholder:text-sm p-2 bg-[rgba(10,87,169,0.2)] rounded-sm drop-shadow-[0px_3px_3px_rgba(0,93,102,0.1)]"
        ></textarea>
        <button
            type="submit"
            class="bg-[#ffc90c] outline-none text-[#252525] uppercase py-2 text-sm"
        >
            Send message
        </button>
    </form>
    <!-- <div
        class="w-[350px] border-4 border-[#ffc90c] h-[400px] absolute -top-12 left-8"
    >
    </div> -->
</div>
