<section class="container mx-auto md:px-12">
    <h3 class="text-[#282828] text-3xl capitalize text-center mb-8 font-medium">
        Why Homeocare International
    </h3>
    <div class="flex gap-4 items-center justify-between">
        <div
            class="bg-[#f2f8ff] border border-[#c6dfff] basis-1/4 text-center p-4 rounded-sm"
        >
            <div
                class="h-40 flex items-center justify-center py-8 bg-white mb-3 rounded-sm drop-shadow-[0px_4px_5px_rgba(0,115,126,0.15)]"
            >
                <img src="/assets/why-us/serving-icon.png" alt="" />
            </div>
            Serving from 33 years
        </div>
        <div
            class={`bg-[#e8fdff] border border-[#b8f2f8] basis-1/4 text-center p-4 rounded-sm`}
        >
            <div
                class="h-40 flex items-center justify-center py-8 bg-white mb-3 rounded-sm drop-shadow-[0px_4px_5px_rgba(0,115,126,0.15)]"
            >
                <img src="/assets/why-us/doctors-icon.png" alt="" />
            </div>
            300+ Doctors
        </div>
        <div
            class={`bg-[#f2f8ff] border border-[#c6dfff] basis-1/4 text-center p-4 rounded-sm`}
        >
            <div
                class="h-40 flex items-center justify-center py-8 bg-white mb-3 rounded-sm drop-shadow-[0px_4px_5px_rgba(0,115,126,0.15)]"
            >
                <img src="/assets/why-us/serving-icon.png" alt="" />
            </div>
            50+ Clinics
        </div>
        <div
            class={`bg-[#e8fdff] border border-[#b8f2f8] basis-1/4 text-center p-4 rounded-sm`}
        >
            <div
                class="h-40 flex items-center justify-center py-8 bg-white mb-3 rounded-sm drop-shadow-[0px_4px_5px_rgba(0,115,126,0.15)]"
            >
                <img src="/assets/why-us/doctors-icon.png" alt="" />
            </div>
            15+ million treated
        </div>
    </div>
    <div class="mt-6 p-6 bg-why-us-form-gradient rounded-sm">
        <form action="" class="flex gap-6">
            <input
                type="text"
                placeholder="Your Name"
                class="rounded-sm basis-1/3 p-2 border border-[#00cede] bg-[#0755a7] placeholder:text-white outline-none"
            />
            <input
                type="text"
                placeholder="Phone Number"
                class="basis-1/3 p-2 rounded-sm border border-[#00cede] bg-[#0755a7] placeholder:text-white outline-none"
            />
            <button
                type="submit"
                class="capitalize py-2 rounded-sm bg-[#00cede] basis-1/3 text-white"
            >
                Send Message
            </button>
        </form>
    </div>
</section>
